DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=proslides.ir,api.proslides.ir
EXPORT_SERVICE_TOKEN=change-me-export-token
GOOGLE_CLIENT_ID=change-me-google-client-id

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.c1.liara.email
EMAIL_PORT=465
EMAIL_HOST_USER=your_username
EMAIL_HOST_PASSWORD=your_password
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=no-reply@proslides.ir
PASSWORD_RESET_URL_TEMPLATE=https://proslides.ir/reset-password?uid={uid}&token={token}
