DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=proslides.ir,api.proslides.ir
EXPORT_SERVICE_TOKEN=change-me-export-token
DJANGO_API_BASE_URL=https://api.proslides.ir/api
GOOGLE_CLIENT_ID=change-me-google-client-id
GOOGLE_OAUTH_CERTS_URL=https://www.googleapis.com/oauth2/v3/certs
CORS_ALLOWED_ORIGINS=https://proslides.ir,https://www.proslides.ir
CSRF_TRUSTED_ORIGINS=https://proslides.ir,https://www.proslides.ir

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=127.0.0.1
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=no-reply@proslides.ir
SERVER_EMAIL=no-reply@proslides.ir
EMAIL_FROM_NAME=ProSlides
PASSWORD_RESET_URL_TEMPLATE=https://proslides.ir/reset-password?uid={uid}&token={token}
